@font-face {
  font-family: 'vcr_osd_monoregular';
  src: url('vcr_osd_mono_1.001-webfont.woff');
  font-style: normal;
}

body {
  font-family: 'vcr_osd_monoregular';
}
a {
    color: #F9C8B6;

}

.fluut {
  display: flex;
  justify-content: center;
}

a:visited{
  color: #F9C8B6;
}

.copy {
  padding-left: 20px;
  padding-right: 20px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
