@font-face {
  font-family: 'vcr_osd_monoregular';
src: url('jgs_Font.ttf');
font-style: normal;
}
  
body {
font-family: 'vcr_osd_monoregular';
}
a{
color: #DDF23F;
}
  
a:visited{
color: #DDF23F;
}
  
.para{
padding: 0px;
}
  
  
.copy {
text-align: left;
padding-left: 20px;
padding-right: 20px;
  
}
.copy2 {
text-align: left;
padding-left: 20px;
padding-right: 20px;
text-decoration: underline;
}
  
  
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #3296CC;
  
}
  
.grad {
background: rgb(221,242,63);
background: linear-gradient(0deg, rgba(221,242,63,1) 0%, rgba(50,150,204,1) 56%);
  
}
  
.grad2 {
background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(50,150,204,1) 69%);
}
li {
float: left;
}
li a {
display: block;
color: #DDF23F;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
  
li a:hover {
background-color: #2680B3;
}
  
.button {
border: none;
color:#1026F4;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}
.pad {
font-size: 30px;
padding-left: 20px;
padding-right: 20px;
  
}
.button1 {background-color: #DDF23F;}
  
* {
box-sizing: border-box;
}
  
/* Create two equal columns that floats next to each other */
.column {
float:left;
width: 50%;
padding: 20px;
  
}
  
/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}
.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 40%;
}
  
#ani1{
fill:#DDF23F;
animation: rotating 2s linear infinite;
  
}
@keyframes rotating { 100% {transform: rotate(360deg);}}
  
@media screen and (max-width: 900px) {
a {text-align: center;}
p { text-align: center;}
.column{width: 100%;}
iframe{width: 100%;height: 100%; }
}
  
  
  
.myButton {
font-family: 'vcr_osd_monoregular';
background:linear-gradient(to bottom, #DDF23F 5%, #C5D636 100%);
background-color:#DDF23F;
border-radius:28px;
border:1px solid #ffffff;
display:inline-block;
cursor:pointer;
color:#3296CC;
font-size:17px;
padding:16px 31px;
text-decoration:none;
text-shadow:0px 1px 0px #B8C932;
}
.myButton:hover {
background:linear-gradient(to bottom, #C5D636 5%, #DDF23F 100%);
background-color:#C5D636;
}
.myButton:active {
position:relative;
top:1px;
}