
@font-face {
    font-family: 'vcr_osd_monoregular';
    src: url("https://stanybebe.github.io/css/fonts/CustomFont.woff2") format('woff2'),
         url("https://stanybebe.github.io/css/fonts/CustomFont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}
